<div class="row">
    <a> <span class="col-md-3" (click)='upVote()' ngbPopover="Upvote the quote" placement="top-left" triggers="mouseenter:mouseleave"><i class="far fa-thumbs-up">{{uVote}}</i></span></a>
    <span class="col-md-1"></span>
    <a><span class="col-md-3" (click)='downVote()' ngbPopover="Downvote the quote" placement="top-left" triggers="mouseenter:mouseleave"><i class="far fa-thumbs-down">{{dVote}}</i></span></a>
</div> 
<!-- <div appHighlighter (updateUVote)='upVote($event)' *ngIf="updateUVote()=== uVote && uVote > 0"></div> -->