<nav id="navbar" class="navbar navbar-default navbar-expand-lg fixed-top scrolling-navbar" (scroll)="onWindowScroll($event);">
    <div class="container">
        <a class="navbar-brand text-primary text-center" href="index.html">Quotes</a>
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>