<main class="content">
    <article>
    <br><br><br>
    <section class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8" style="font-size: 2rem; color: white;">
            <br>
            <br>
            <h1 style="color: gold;">Featured Quote:</h1>
            "Umaskini haipendi Makasiriko" <br>
            <div class="row">
                <span class="col-md-4"></span>
                <span class="col-md-8">~KOT</span>
            </div>
        </div>
    </section>

    </article>
    <hr>
<br>
</main>