<div>       
    <div class="row">
        <span class="col-md-2"></span>
        <span class="col-md-10">Submitted by {{quote.submitter}}: published {{quote.submitTime | timeCount}}</span>
    </div>    
    <br>
    <br>
    <div class="row">
        <app-vote  class="col-md-6"></app-vote>
        <a><span class="col-md-6" (click)="quoteDelete(true)" ngbPopover="Delete the quote" placement="top-left" triggers="mouseenter:mouseleave"><i class="fas fa-trash-alt"></i></span></a>
    </div>
</div>