<div class="container-fluid">
    <h5 class="text-center">You got <span id="jokes">Jokes</span> Quotes</h5>
    <hr>
    <form (ngSubmit)='submitQuote(quoteForm.value)' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" [(ngModel)]='newQuote.submitter' name="name" #name='ngModel'>
            <br>    
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <div>Name is required</div>
            </div>  
        </div>
        <div class="form-group">
  
            <label for="quotation">Quote</label>
            <textarea class="form-control" rows="4" required minlength="12" [(ngModel)]='newQuote.quotation' name="quotation" #quotation='ngModel' ></textarea>
            <br>
            <div *ngIf="quotation.invalid && (quotation.dirty || quotation.touched)" class="alert alert-danger">
                <div *ngIf="quotation.errors.minlength">
                    The quote must be longer than 12 characters
                </div>

                <div *ngIf="quotation.errors.required">The Quote is required</div>
            </div>  
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            <input type="text" required class="form-control" [(ngModel)]='newQuote.author' name="author" #author='ngModel'>
            <br>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <div>Author name is required</div>
            </div>  
        </div>
        <div *ngIf="!quoteForm.valid" class="alert alert-primary">
            <div>Please fill in the form with correct inputs before submitting</div>
        </div>
        <button type='submit' id='submitButton' class="btn btn-primary" (click)='clearForm()' [disabled]="!quoteForm.valid">Submit Quote</button>
    </form>

    <hr>
    <input type="text" placeholder="Enter something" [(ngModel)]= 'data'/>
    <button class="btn btn-large" (click) = 'persistData()'>Persist data</button>
  </div>